<% include ../partials/header %>
<div class="jumbotron">
<h1><center>140-390 Full Stack Web with JS</center></h1><br><br>

<center><img src="https://scontent.fbkk8-3.fna.fbcdn.net/v/t1.0-9/10155360_723755207645951_1628152756_n.jpg?_nc_cat=100&_nc_ht=scontent.fbkk8-3.fna&oh=d82c9043cc11019e02d58e8a3321abfb&oe=5C4905C1" class="rounded" width="500" hight="2000"></center>
<h3><center>Teacher : Korawit Prutsachainimmit</center></h3>
<h5><center>Prince of Songkla University, Phuket Campus</center></h5>
<h5><center></center></h5>

</div>





<% include ../partials/footer %>