<% include ../partials/header %>

<h1><center>140-390 Full Stack Web with JS</center></h1><br><br><br><br>
<h3><center>Teacher : Korawit Prutsachainimmit</center></h3>
<h5><center>Print of Songkla University, Phuket Campus</center></h5>
<h5><center></center></h5>






<% include ../partials/footer %>