<% include ../partials/header %>
<div class="jumbotron">
            <h1 class="display-3">ExpressTEST</h1>
            <p class="lead">Static content </p>
            <hr class="my-2">
            <p>About me</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/products" role="button">View Product</a>
            
                <a class="btn btn-primary btn-lg" href="/users" role="button">View Users</a>
            </p>
            
        </div>
      

<% include ../partials/footer %>