<% include ../partials/header %>
<div class="jumbotron">
     <h1 class="display-3">Fullstack Project</h1>
     <p class="lead">Jirayus Phithaksan 5930211010</p>
     <hr class="my-2">
     <p>Prince of Songkla University, Phuket campus</p>
     <p class="lead">
         <a class="btn btn-primary btn-lg" href="/about" role="button">view</a>
     </p>
 </div>
<% include ../partials/footer %>